<!DOCTYPE html>
<html>
<head>
    {% block head_content %}
        {% include 'head.html' %}
    {% endblock %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
        }
    </style>
</head>
<body>
    {% block taskbar_content %}
        {% include 'taskbar.html' %}
    {% endblock %}

    <div class="container mt-5">
        <h2>Login:</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container mt-3" style="padding: 0px;">
                <ul class="list-unstyled">
                    {% set unique_messages = [] %}
                    {% for message in messages %}
                        {% if message not in unique_messages %}
                            {% set _ = unique_messages.append(message) %}
                            <li class="alert alert-danger">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <br>

        <form method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="USERNAME" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="PASSWORD" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <br><br>

    <div class="footer">
        {% block footer_content %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>
</body>
</html>